.hours {
    position: absolute;
    width: 10px;
    height: 260px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 0, 0, .5);
    -webkit-animation: myfirst-hours 36000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes myfirst-hours {
    0%, 10% {
    -webkit-transform: rotate(0deg);
}
20% {
    -webkit-transform: rotate(36deg);
}
30% {
    -webkit-transform: rotate(72deg);
}
40% {
    -webkit-transform: rotate(108deg);
}
50% {
    -webkit-transform: rotate(180deg);
}
60% {
    -webkit-transform: rotate(216deg);
}
70% {
    -webkit-transform: rotate(252deg);
}
80% {
    -webkit-transform: rotate(288deg);
}
90% {
    -webkit-transform: rotate(324deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}.minute {
    position: absolute;
    width: 8px;
    height: 160px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 255, .5);
    -webkit-animation: myfirst-minute 3600s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes myfirst-minute {
    0% {
    -webkit-transform: rotate(0deg);
}
2% {
    -webkit-transform: rotate(7.2deg);
}
4% {
    -webkit-transform: rotate(14.4deg);
}
6% {
    -webkit-transform: rotate(21.6deg);
}
8% {
    -webkit-transform: rotate(28.8deg);
}
10% {
    -webkit-transform: rotate(36deg);
}
12% {
    -webkit-transform: rotate(43.2deg);
}
14% {
    -webkit-transform: rotate(50.4deg);
}
16% {
    -webkit-transform: rotate(57.6deg);
}
18% {
    -webkit-transform: rotate(64.8deg);
}
20% {
    -webkit-transform: rotate(72deg);
}
22% {
    -webkit-transform: rotate(79.2deg);
}
24% {
    -webkit-transform: rotate(86.4deg);
}
26% {
    -webkit-transform: rotate(93deg);
}
28% {
    -webkit-transform: rotate(100.8deg);
}
30% {
    -webkit-transform: rotate(108deg);
}
32% {
    -webkit-transform: rotate(115.2deg);
}
34% {
    -webkit-transform: rotate(122.4deg);
}
36% {
    -webkit-transform: rotate(129.6deg);
}
38% {
    -webkit-transform: rotate(136.8deg);
}
40% {
    -webkit-transform: rotate(144deg);
}
42% {
    -webkit-transform: rotate(151.2deg);
}
44% {
    -webkit-transform: rotate(158.4deg);
}
46% {
    -webkit-transform: rotate(165.6deg);
}
48% {
    -webkit-transform: rotate(172.8deg);
}
50% {
    -webkit-transform: rotate(180deg);
}
52% {
    -webkit-transform: rotate(187.2deg);
}
54% {
    -webkit-transform: rotate(194.4deg);
}
56% {
    -webkit-transform: rotate(201.6deg);
}
58% {
    -webkit-transform: rotate(208.8deg);
}
60% {
    -webkit-transform: rotate(216deg);
}
62% {
    -webkit-transform: rotate(223.2deg);
}
64% {
    -webkit-transform: rotate(230.4deg);
}
66% {
    -webkit-transform: rotate(237.6deg);
}
68% {
    -webkit-transform: rotate(244.8deg);
}
70% {
    -webkit-transform: rotate(252deg);
}
72% {
    -webkit-transform: rotate(259.2deg);
}
74% {
    -webkit-transform: rotate(266.4deg);
}
76% {
    -webkit-transform: rotate(273.6deg);
}
78% {
    -webkit-transform: rotate(280.8deg);
}
80% {
    -webkit-transform: rotate(288deg);
}
82% {
    -webkit-transform: rotate(295.2deg);
}
84% {
    -webkit-transform: rotate(302.4deg);
}
86% {
    -webkit-transform: rotate(309.6deg);
}
88% {
    -webkit-transform: rotate(316.8deg);
}
90% {
    -webkit-transform: rotate(324deg);
}
92% {
    -webkit-transform: rotate(331.2deg);
}
94% {
    -webkit-transform: rotate(338.4deg);
}
96% {
    -webkit-transform: rotate(345.6deg);
}
98% {
    -webkit-transform: rotate(352.8deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}.second {
    position: absolute;
    width: 6px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 255, 0, .5);
    -webkit-animation: myfirst-second 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes myfirst-second {
    0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}.arrow-uph {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(255, 0, 0, .5);
    margin-top: -15px;
    margin-left: -11px;
}
.arrow-upm {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(0, 0, 255, .5);
    margin-top: -15px;
    margin-left: -12px;
}
.arrow-ups {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(0, 255, 0, .5);
    margin-top: -15px;
    margin-left: -12px;
}
.clockcircle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 350px;
    width: 350px;
    border-radius: 175px;
    border: 5px solid #303030;
    z-index: -10;
    background-color: #fff;
}
.l1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 160px;
    margin-top: 2px;
}
.l2 {
    position: absolute;
    top: 50%;
    bottom: ;
    left: 320px;
    right: 0;
    margin: auto;
}
.l3 {
    position: absolute;
    top: 320px;
    bottom: ;
    left: 165px;
    right: 0;
    margin: auto;
}
.l4 {
    position: absolute;
    top: 50%;
    bottom: ;
    left: 5px;
    right: 0;
    margin: auto;
}